
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Non Trading Date</h1>
		<!-- <ol class="breadcrumb">
			<li><a href="#" [routerLink]="['/manageClosedDate']"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Examples</a></li>
			<li class="active">Blank page</li>
		</ol> -->
	</section>

	<!-- Main content -->
	<section class="content">
		<form [formGroup]="editClosedDateForm"
			(ngSubmit)="submitEditedClosedDateForm(editClosedDateForm.value)">
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Non Trading Date</h3>
				</div>
				<div class="box-body">
					<div *ngIf="error && error.length > 0" class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="error=undefined">×</button>
						{{error}}
					</div>
					<div *ngIf="editedClosedDate"  class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="editedClosedDate=false">×</button>
						Non Trading Date edited successfully!
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editClosedDateForm.controls.name.invalid && requiredFlag}">
						<label>Name<span style="color:red;">*</span></label> 
						<input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
						<label [ngClass]="{ 'has-error' : editClosedDateForm.controls.name.invalid && requiredFlag}" *ngIf="editClosedDateForm.controls.name.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea type="text" class="form-control" style="resize:none" rows="3" maxlength = "5000"  (keyup)="countLength()" placeholder="Enter description" formControlName="description"></textarea>
						<small *ngIf="descriptionLength == 5000"> Note : description exceeds 5000 chars..</small>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editClosedDateForm.controls.closeDate.invalid && requiredFlag}">
						<label>Date<span style="color:red;">*</span></label>
						<div class="input-group date">
			                <div class="input-group-addon">
			                  <i class="fa fa-calendar"></i>
			                </div>
              				<input type="text" class="form-control pull-right" id="datepicker" formControlName="closeDate" readonly = "readonly" required>
                		</div>
                		<label [ngClass]="{ 'has-error' : editClosedDateForm.controls.closeDate.invalid && requiredFlag}" *ngIf="editClosedDateForm.controls.closeDate.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group tagblock" [ngClass]="{ 'has-error' : editClosedDateForm.controls.brand.invalid && requiredFlag}">
						<label>Company<span style="color:red;">*</span></label>
						<tag-input required class="form-control" formControlName="brand" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								[onlyFromAutocomplete]="true"
								(onRemove) = "removeBrand($event)"
								(onAdd)="getStoreByBrand($event)"
								[placeholder]="'Select Company'" 
								[secondaryPlaceholder] = "'Select Company'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[appendToBody] = "false"
										[keepOpen]="false"
										[identifyBy]="'id'"
										[limitItemsTo]="'7'"
                        				 [autocompleteItems]="brandList" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					 </tag-input> 
    					 <label [ngClass]="{ 'has-error' : editClosedDateForm.controls.brand.invalid && requiredFlag}" *ngIf="editClosedDateForm.controls.brand.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group tagblock" [ngClass]="{ 'has-error' : editClosedDateForm.controls.stores.invalid && requiredFlag}">
						<label>Branches<span style="color:red;">*</span><span style="margin-left: 15px;"><input type="checkbox" value="" 
										(change)="selectCheckBox($event)"></span> Select All</label>
						<tag-input required  class="form-control" formControlName="stores" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								(onRemove) = "removeStore($event)"
								[onlyFromAutocomplete]="true"
								[placeholder]="'Select Branch'" 
								[secondaryPlaceholder] = "'Select Branch'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[appendToBody] = "false"
										[keepOpen]="false"
										[identifyBy]="'id'"
										[limitItemsTo]="'7'"
                        				 [autocompleteItems]="storeList" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					 </tag-input>
    					 <label [ngClass]="{ 'has-error' : editClosedDateForm.controls.stores.invalid && requiredFlag}" *ngIf="editClosedDateForm.controls.stores.invalid && requiredFlag">This field is required.</label> 
					</div>
					<div class="label-status">
						<label>Activate/Deactivate</label>
						<ui-switch size="small" formControlName="isActive" (change)="changeStatus($event)"></ui-switch>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
			<tr>
				<td>
					<div class="form-group">
						<div class="btn-group inlinebtn">
							<button type="submit" class="btn btn-success" [disabled]="buttonText == CONSTANTS.SUBMITTING">{{buttonText}}</button>
							<button type="button" class="btn btn-info" (click) = "back()">Back</button>
						</div>
					</div>
				</td>
			</tr>
		</form>
	</section>
	<!-- /.content -->
	<!-- /.content -->
</div>