<block-ui>
  <!-- Your app markup here -->
</block-ui>
<div class="wrapper">
	<header class="main-header">
		<!-- Logo -->
		<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini">CP</span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg">Critical Path</span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu"
				role="button"> <span class="sr-only">Toggle navigation</span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <span class="hidden-xs">Super
								Admin</span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" (click)="logout()"><i
									class="fa fa-fw fa-sign-out"></i> Signout</a></li>
						</ul></li>
					<!-- Control Sidebar Toggle Button -->
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">MAIN NAVIGATION</li></ul>
				<ul *ngFor = "let module of modulePermissionRight" class="sidebar-menu" data-widget="tree">
					<li *ngIf = "module.permKey == 'Manage Country'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageCountry']"><i class="fa fa-globe"></i> <span>Manage
								Country</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Province'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageProvince']"><i class="fa fa-globe"></i> <span>Manage
								Province</span></a></li>	
					<li *ngIf = "module.permKey == 'Manage Location Division'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageLocationDivision']"><i class="fa fa-globe"></i> <span>Manage Location
								Division</span></a></li>								
					<li *ngIf = "module.permKey == 'Manage Task Status'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageTaskStatus']"><i class="fa fa-tasks"></i>
							<span>Manage Task Status</span></a></li>
					<!-- <li *ngIf = "module.permKey == 'Manage Event'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageEvent']"><i class="fa fa-table"></i> <span>Manage
								Event</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Webhook'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageWebhook']"><i class="fa fa-chain"></i> <span>Manage
								Webhook</span></a></li> -->
					<li *ngIf = "module.permKey == 'Manage Days Of Week'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageDaysOfWeek']"><i class="fa fa-calendar"></i>
							<span>Manage Days Of Week</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Company'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageBrand']"><i class="fa fa-btc"></i> <span>Manage
								Company</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Branch'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageStore']"><i class="fa fa-shopping-cart"></i> <span>Manage
								Branch</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Non Trading Date'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageClosedDate']"><i class="fa fa-calendar-times-o"></i>
							<span>Manage Non Trading Date</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Stock Take Cycle'" routerLinkActive="active"><a href="#"
						[routerLink]="['/manageStockTakeCycle']"><i class="fa fa-recycle"></i>
							<span>Manage Stock Take Cycle</span></a></li>
					<li *ngIf = "module.permKey == 'Manage Critical Path'" routerLinkActive="active"><a href="#" 
						[routerLink]="['/manageCriticalPath']"><i class="fa fa-arrows"></i>
							 <span>Manage Critical Path</span></a></li>
							 
					<li  *ngIf = "module.permKey == 'Manage Company User'" routerLinkActive="active"><a href="#" 
						[routerLink]="['/manageBrandUser']"><i class="fa fa-users"></i>
							 <span>Manage Company's User</span></a></li>
							 
					<li  *ngIf = "module.permKey == 'Manage Notification'" routerLinkActive="active"><a href="#" 
						[routerLink]="['/manageNotification']"><i class="fa fa-bell"></i>
							 <span>Manage Notification</span></a></li>
							 
					<li  *ngIf = "module.permKey == 'View API Log'" routerLinkActive="active"><a href="#" 
						[routerLink]="['/apiLog']"><i class="fa fa-users"></i>
							 <span>View API Log</span></a></li>
							 
					<li  *ngIf = "module.permKey == 'View Audit Log'" routerLinkActive="active"><a href="#" 
						[routerLink]="['/aopLog']"><i class="fa fa-users"></i>
							 <span>View Audit Log</span></a></li>
							 
					
			</ul>
			
		</section>
		<!-- /.sidebar -->
	</aside>

	<router-outlet></router-outlet>

	<footer class="main-footer">
		<!-- <div class="pull-right hidden-xs">
			<b>Version</b> 2.4.0
		</div> -->
		<strong>Copyright &copy; 2017-2018 
		<!-- <a 	href="https://adminlte.io">Webs Optimization</a> -->
		</strong> All rights reserved.
	</footer>

	<!-- Control Sidebar -->
	<!--  <aside class="control-sidebar control-sidebar-dark">
    Create the tabs
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
   
  </aside> -->
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->

</div>
<!-- ./wrapper -->
