 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">

     <div class="error-page">
        <div class="media">
		  <div class="media-left media-middle">
		    <i class="fa fa-warning text-yellow"></i>
		  </div>
		  <div class="media-body">
		    <h1 class="media-heading"> Oops! Page not found. </h1>
		    <p> We could not find the page you were looking for. </p>
		  </div>
		</div>
        <!-- /.error-content -->
      </div>

    </section>
    <!-- /.content -->
  </div>
