<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Notification</h1>
		<!-- <ol class="breadcrumb">
			<li><a href="#" [routerLink]="['/manageStore']"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Examples</a></li>
			<li class="active">Blank page</li>
		</ol> -->
	</section>

	<!-- Main content -->
	<section class="content">
		<form #add="ngForm" [formGroup]="editNotificationForm"
			(ngSubmit)="submitNotificationForm(editNotificationForm.value)">
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Notification</h3>
				</div>
				<div class="box-body">
					<div *ngIf="error && error.length > 0" class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="error=undefined">×</button>
						{{error}}
					</div>
					<div *ngIf="notificationEdited"  class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="notificationEdited=false">×</button>
						Notification edited successfully!
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.name.invalid && requiredFlag }">
						<label>Name<span style="color:red;"> *</span></label> 
						<input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required> <!--  pattern="^[a-zA-Z]*$" --> 
						<!--  <label [ngClass]="{ 'has-error' : editNotificationForm.controls['name'].hasError('pattern')}" *ngIf="editNotificationForm.controls['name'].hasError('pattern')">Only alphabetical characters allowed.</label><br> -->
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.name.invalid && requiredFlag }" *ngIf="editNotificationForm.controls.name.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group">
						<label>Description</label> 
						<textarea class="form-control" style="resize:none" rows="3" placeholder="Enter description" formControlName="description"></textarea>
						<small  *ngIf="descriptionLength > 5000"> Note : description exceeds 5000 chars..</small> 
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.subject.invalid && requiredFlag }">
						<label>Subject<span style="color:red;"> *</span></label> 
						<input type="text" class="form-control" placeholder="Enter Subject" formControlName="subject" required> 
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.subject.invalid && requiredFlag }" *ngIf="editNotificationForm.controls.subject.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.body.invalid && requiredFlag }">
						<label>Body<span style="color:red;"> *</span></label> 

						<i  class="fa fa-info-circle"
							style="margin-left: 11px; cursor: pointer" 
							(click)="showToolTipForBodyContext()" 
							id="bodyContInfo" 
							data-placement="right" 
							data-toggle="tooltip" 
							title="Body Context Info">
						</i>

						<ckeditor [config]="{ toolbar: [ 'bold', 'italic','underline' ,'undo', 'redo'] }"  formControlName="body" [editor]="Editor"></ckeditor>
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.body.invalid && requiredFlag }" *ngIf="editNotificationForm.controls.body.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group tagblock" [ngClass]="{ 'has-error' : editNotificationForm.controls.userGroups.invalid && requiredFlag}">
						<label>User Groups<span style="color:red;">*</span></label>
						<tag-input required class="form-control" formControlName="userGroups" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								(onAdd)="userGroupAdded($event)"
								(onRemove) = "userGroupRemoved($event)"
								[onlyFromAutocomplete]="true"
								[placeholder]="'Select Role'" 
								[secondaryPlaceholder] = "'Select Role'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[keepOpen]="false"
                        				[appendToBody] = "false"
										[identifyBy]="'id'"
										[limitItemsTo]="'7'"
                        				 [autocompleteItems]="roles" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					 </tag-input> 
    					 <label [ngClass]="{ 'has-error' : editNotificationForm.controls.userGroups.invalid && requiredFlag}" *ngIf="editNotificationForm.controls.userGroups.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group tagblock" [ngClass]="{ 'has-error' : editNotificationForm.controls.triggerEvent.invalid && requiredFlag }">
						<label>Trigger Event<span style="color:red;">*</span></label>
						<tag-input required class="form-control" formControlName="triggerEvent" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								[onlyFromAutocomplete]="true"
								[maxItems] = "1"
								[placeholder]="'Select Trigger Event'" 
								[secondaryPlaceholder] = "'Select Trigger Event'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[keepOpen]="false"
                        				[appendToBody] = "false"
										[identifyBy]="'id'"
										[limitItemsTo]="'7'"
                        				 [autocompleteItems]="eventList" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					</tag-input> 
                  		<label [ngClass]="{ 'has-error' : editNotificationForm.controls.triggerEvent.invalid && requiredFlag }" *ngIf="editNotificationForm.controls.triggerEvent.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.delayTime.invalid && requiredFlag}">
						<label>Delay Time<span style="color:red;">*</span></label>
						<i  class="fa fa-info-circle" 
							style="margin-left: 11px; cursor: pointer" 
							(click)="showToolTipForDTime()" 
							id="dTimeInfo" 
							data-placement="right" 
							data-toggle="tooltip" 
							title="Delay Time Info">
						</i>
						<input type="number" class="form-control" placeholder="Enter Delay Time" formControlName="delayTime" required>
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.delayTime.invalid && requiredFlag}" *ngIf="editNotificationForm.controls.delayTime.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.reminderTime.invalid && requiredFlag}">
						<label>Reminder Time<span style="color:red;">*</span></label>
						<i style="margin-left: 11px; cursor: pointer" class="fa fa-info-circle" id="remTimeInfo" (click)="showToolTipForRTime()" data-placement="right" 
						title="Reminder Time Info" ></i>
						
						<input type="number" class="form-control" placeholder="Enter Reminder Time" formControlName="reminderTime" required>
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.reminderTime.invalid && requiredFlag}" *ngIf="editNotificationForm.controls.reminderTime.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editNotificationForm.controls.reminderCount.invalid && requiredFlag || editNotificationForm.controls['reminderCount'].hasError('min')}">
						<label>Reminder Count<span style="color:red;">*</span></label>
						<i style="margin-left: 11px; cursor: pointer" class="fa fa-info-circle " id="remCountInfo" (click)="showToolTipForRCount()"  data-placement="right"  
						(mouseover)="showTooltip($event)" 
		  				title="Reminder Count Info" ></i>
						<input type="number" class="form-control" placeholder="Enter Reminder Count " formControlName="reminderCount" min="1" required>
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls['reminderCount'].hasError('min')}" *ngIf="editNotificationForm.controls['reminderCount'].hasError('min')">Minimum value allowed is 1.</label>
						<label [ngClass]="{ 'has-error' : editNotificationForm.controls.reminderCount.invalid && requiredFlag}" *ngIf="editNotificationForm.controls.reminderCount.invalid && requiredFlag && !editNotificationForm.controls['reminderCount'].hasError('min')">This field is required.</label>
					</div>
					<div class="form-group tagblock" [ngClass]="{ 'has-error' : editNotificationForm.controls.notificationType.invalid && requiredFlag }">
						<label>Notification Type<span style="color:red;">*</span></label>
						<tag-input required class="form-control" formControlName="notificationType" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								[onlyFromAutocomplete]="true"
								[maxItems] = "1"
								[placeholder]="'Select Type'" 
								[secondaryPlaceholder] = "'Select Type'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[keepOpen]="false"
                        				[appendToBody] = "false"
										[identifyBy]="'id'"
										[limitItemsTo]="'7'"
                        				 [autocompleteItems]="typeList" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					</tag-input> 
                  		<label [ngClass]="{ 'has-error' : editNotificationForm.controls.triggerEvent.invalid && requiredFlag }" *ngIf="editNotificationForm.controls.triggerEvent.invalid && requiredFlag">This field is required.</label>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
			<tr>
				<td>
					<div class="form-group">
						<div class="btn-group inlinebtn">
							<button type="submit" class="btn btn-success" [disabled]="buttonText == CONSTANTS.SUBMITTING">{{buttonText}}</button>
							<button type="button" class="btn btn-info" (click) = "back()">Back</button>
						</div>
					</div>
				</td>
			</tr>
		</form>
	</section>
	<!-- /.content -->
</div>