
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Notification</h1>
		<br>
		<div class="row" *ngIf="(uploadLogs?.length == 0 || !uploadLogs)">
			<div class="col-sm-6 btn-group inlinebtn" *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'">
				<button type="button" class="btn btn-success"
					(click)="addNewNotification()">Add New</button>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div *ngIf="error && error.length > 0" class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="error=undefined">×</button>
						{{error}}
		</div>
		<div *ngIf="restored" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="restored=undefined">×</button>
						Notification Restored Successfully!
		</div>
		<div *ngIf="deleted" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="deleted=undefined">×</button>
						Notification deleted Successfully!
		</div>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Default box -->
		<div class="box">
			<div class="box-header">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="box-title">List of Notifications</h3>
					</div>
					<div class ="col-sm-4 loaderadmin text-center">
						<div *ngIf="showLoader">
							<i  class="fa fa-spin fa-refresh" ></i>&nbsp; Loading...
						</div>
	  				</div>
					<div class="col-sm-4 text-right">
						<div class="checkbox" style="margin: 0;">
							<label>
				    			<input
				  				 type="checkbox"
				  				 name="showrecord"
				 				 [checked]="showDeleteRecord"
				 				 (change)="ShowDeleteRecord()"/>Show Deleted/Inactive Records
							</label> 
						</div>
					</div> 
				</div>
			</div>
			<div class="box-body">
				<table id="notificationTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Subject</th>
							<th>User Groups</th>
							<th>Trigger Event</th>
							<th>Delay Time </th>
							<th>Reminder Time </th>
							<th>Reminder Count </th>
							<th>Notification Type </th>
							<th [hidden]="curUserRole === 'ROLE_ADMIN_READONLY'">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let notificationData of notificationList">
							<td>{{notificationData.name}}</td>
							<td>{{notificationData.subject}}</td>
							<td>{{notificationData.userGroups}}</td>
							<td>{{notificationData.triggerEvent}}</td>
							<td>{{notificationData.delayTime}}</td>
							<td>{{notificationData.reminderTime}}</td>
							<td>{{notificationData.reminderCount}}</td>
							<td>{{notificationData.notificationType}}</td>
							<td class="table-btn-colwidth" *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'">
								<div class="btn-group inlinebtn">
									<button *ngIf = "!notificationData.isDelete" class="btn btn-xs btn-info"
										[routerLink]="['/manageNotification/editManageNotification', notificationData.id]">
										<i class="fa fa-edit"></i> Edit
									</button>
									<button *ngIf = "!notificationData.isDelete" class="btn btn-xs btn-danger"
										data-toggle="modal"
										data-target="#modal-default" data-id="'provinceData.id'"
										(click)="storeId(notificationData.id)">
										<i class="fa fa-trash"></i> Delete
									</button>
									<button *ngIf = "notificationData.isDelete" class="btn btn-xs btn-success"
										(click)="restoreNotification(notificationData.id)">
										<i class="fa fa-file"></i> Restore
									</button>
								</div>
							</td>
							<td *ngIf="curUserRole !== 'ROLE_SUPER_ADMIN'" style="width: 0px">
              				
              			</td> 
						</tr>
					</tbody>
				</table>

			</div>
			<!-- box-body -->
			<div class="box-footer"></div>
			<!-- box-footer -->
		</div>
		<!-- box -->

	</section>
	<!-- content -->
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Notification</h3>
			</div>
			<div class="modal-body">
				<h4>
					<p>Are you sure you want to delete the record?</p>
				</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right"
					data-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="deleteNotification()">Yes</button>
			</div>
		</div>
		<!-- modal-content -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- modal -->