
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Branches</h1>
		<tr>
			<br>
			<br>
			<br>
			<td *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'">
				<button type="button" class="btn btn-block btn-success"
					(click)="addNewStore()">Add New</button>
			</td>
		</tr>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- Default box -->
		<div class="box">
			<div class="box-header">
				<!-- <h3 class="box-title">List of Store</h3> -->
					<div class="row">
					<div class="col-sm-4">
						<h3 class="box-title">List of Branch</h3>
					</div>
					<div class ="col-sm-4 loaderadmin text-center">
						<div *ngIf="showLoader">
							<i  class="fa fa-spin fa-refresh" ></i>&nbsp; Loading...
						</div>
	  				</div>
					<div class="col-sm-4 text-right">
						<div class="checkbox" style="margin: 0;">
							<label>
				    			<input
				  				 type="checkbox"
				  				 name="showrecord"
				 				 [checked]="showDeleteRecord"
				 				 (change)="showDeletedRecord()"/>Show Deleted/Inactive Records
							</label> 
						</div>
					</div>
				</div>
			</div>

			<div class="box-body">
				<div class="row">
					<div class="col-sm-12">
						<div *ngIf="error && error.length > 0"
							class="alert alert-danger alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true" (click)="error=undefined">×</button>
							{{error}}
						</div>
						<div *ngIf="deleted" class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true" (click)="delete=undefined">×</button>
							Branch Deleted Successfully!
						</div>
						<div *ngIf="restored" class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true" (click)="restored=undefined">×</button>
							Branch Restored Successfully!
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-3 pull-right pb5">
						<div class ="table-search  pull-right">
					    	<label class="search-label">Search :</label>       
						    <div class="input-group">   
						     	<input placeholder="Search By Name or Code" class="form-control input-sm" type="text" name="searchText"
								[(ngModel)]="storeSearchParam.searchString"
								 title="Search By Name or Code"
								(keyup)="searchStoreByName(false)"> <a
								href="javascript:void(0)"></a>                                          
						    </div>   
					    </div>
					</div>
				</div>
				
				<table id="storeTable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>Country</th>
							<th>Province</th>
							<th>Location Division</th>
							<th>Companies</th>
							<th>RAMUser</th>
							<th *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'">Action</th>
						</tr>
					</thead>
					<tbody *ngIf="storeList">
						<tr *ngFor="let storeData of storeList">
							<td>{{storeData?.code}}</td>
							<td>{{storeData?.name}}</td>
							<td title="Country is inactive" *ngIf="!storeData?.country?.isActive">{{storeData?.country?.name}} <i class="fa fa-exclamation-circle text-red"></i></td>
							<td *ngIf="storeData?.country?.isActive">{{storeData?.country?.name}}</td>
							
							<!-- <td>{{storeData?.province?.name}}</td> -->
							<td title="province is inactive" *ngIf=" storeData?.province !== null && storeData?.province?.isDelete"> <i class="fa fa-exclamation-circle text-red"></i></td>
							<td *ngIf="storeData?.province !== null && storeData?.province?.isActive">{{storeData?.province?.name}}</td>
							<td *ngIf="storeData?.province === null"> </td>
							
							<!-- <td>{{storeData?.locationDivision?.name}}</td> -->
							<td title="locationDivision is inactive" *ngIf=" storeData?.locationDivision !== null && storeData?.locationDivision?.isDelete"> <i class="fa fa-exclamation-circle text-red"></i></td>
							<td *ngIf="storeData?.locationDivision !== null && storeData?.locationDivision?.isActive">{{storeData?.locationDivision?.name}}</td>
							<td *ngIf="storeData?.locationDivision === null"> </td>
							
							<!-- <td>{{storeData?.brand?.name}}</td> -->
							<td title="brand is inactive" *ngIf=" storeData?.brand !== null && storeData?.brand?.isDelete"> <i class="fa fa-exclamation-circle text-red"></i></td>
							<td *ngIf="storeData?.brand !== null && storeData?.brand?.isActive">{{storeData?.brand?.name}}</td>
							<td *ngIf="storeData?.brand === null"> </td>
							
							<td title="Regional Manager is inactive" *ngIf=" storeData?.regionalManagers !== null && storeData?.regionalManagers?.isDelete"> <i class="fa fa-exclamation-circle text-red"></i></td>
							<td *ngIf="storeData.regionalManagers !== null && storeData?.regionalManagers?.isActive">{{storeData?.regionalManagers?.name}}</td>
							<td *ngIf="storeData.regionalManagers === null"> </td>
							
							<td *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'" class="table-btn-colwidth">
								<div class="btn-group inlinebtn">
										<button *ngIf = "!storeData.isDelete" class="btn btn-xs btn-info"
											[routerLink]="['/manageStore/editStore', storeData.id]">
											<i class="fa fa-edit"></i> Edit
										</button>
										<button *ngIf = "!storeData.isDelete" class="btn btn-xs btn-danger"
										    data-toggle="modal"
											data-target="#modal-default" data-id="'storeData.id'"
											(click)="getId(storeData.id)">
											<i class="fa fa-trash"></i> Delete
										</button>
										<button *ngIf = "storeData.isDelete" class="btn btn-xs btn-success"
											(click)="restoreStore(storeData.id)">
											<i class="fa fa-file"></i> Restore
										</button>
								</div>
							</td>
						</tr>

						<!-- Pagination -->
					</tbody>
					<tfoot *ngIf="(storeList?.length > 0) && (storeSearchResults === undefined)">
						<tr class="text-center"><td valign="top" colspan="7" class="">No matching records found</td></tr>
					</tfoot>
				</table>
				<div>
					<pagination class="pull-right"
						[(ngModel)]="storeSearchParam.pageNo"
						[maxSize]="paginationConfig.maxSize"
						[totalItems]="paginationConfig.totalElements"
						[rotate]="paginationConfig.rotate" align="paginationConfig.align"
						[firstText]="paginationConfig.firstText"
						[previousText]="paginationConfig.previousText"
						[nextText]="paginationConfig.nextText"
						[lastText]="paginationConfig.lastText"
						[itemsPerPage] = "paginationConfig.itemsPerPage"
						(pageChanged)="pageChanged($event)"> </pagination>
				</div>

			</div>
			<!-- /.box-body -->
			<div class="box-footer"></div>
			<!-- /.box-footer-->
		</div>
		<!-- /.box -->

	</section>
	<!-- /.content -->
</div>

<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Store</h3>
			</div>
			<div class="modal-body">
				<h4>
					<p>Are you sure you want to delete the record?</p>
				</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right"
					data-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="deleteStore()">Yes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->