 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Days of Week
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header">
<!--           <h3 class="box-title">List of Days of Week</h3> -->
				<div class="row">
					<div class="col-sm-4">
						<h3 class="box-title">List of Days of Week</h3>
					</div>
					<div class ="col-sm-4 loaderadmin text-center">
						<div *ngIf="showLoader">
						<i  class="fa fa-spin fa-refresh" ></i>&nbsp; Loading...
						</div>
	  				</div> 
					<div class="col-sm-4 text-right">
						<div class="checkbox" style="margin: 0;">
							<label>
				    			<input
				  				 type="checkbox"
				  				 name="showrecord"
				 				 [checked]="showDeleteRecord"
				 				 (change)="ShowDeleteRecord()"/>Show Deleted/Inactive Records
							</label> 
						</div>
					</div>
				</div>
        </div>
        <div class="box-body">
        <div *ngIf="deleted" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="delete=undefined">×</button>
						 Days of Week Deleted Successfully!
		</div>
		<div *ngIf="restored" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="restored=undefined">×</button>
						Days of Week Restored Successfully!
		</div>
         <table id="daysOfWeek" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                <!-- 	<th style="display: none;">Id</th> -->
	                  	<th>Name</th>
	                  	<th [hidden]="curUserRole === 'ROLE_ADMIN_READONLY'">Action</th>
	                </tr>
                </thead>
                <tbody>
                	 <tr *ngFor="let daysOfWeek of daysOfWeekList">
                     	<td>{{daysOfWeek.name}}</td>
              			<td *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'" class="table-btn-colwidth">
                     		<div *ngIf="curUserRole === 'ROLE_SUPER_ADMIN'" class="btn-group inlinebtn">
		              			<button *ngIf = "!daysOfWeek.isDelete" class="btn btn-xs btn-info" [routerLink]="['/manageDaysOfWeek/editDaysOfWeek', daysOfWeek.id]">
		                			<i class="fa fa-edit"></i> Edit
		              			</button>
		              			<button *ngIf = "!daysOfWeek.isDelete" class="btn btn-xs btn-danger"
										data-toggle="modal"
										data-target="#modal-default" data-id="'daysOfWeek.id'"
										(click)="getId(daysOfWeek.id)">
										<i class="fa fa-trash"></i> Delete
								</button>
								<button *ngIf = "daysOfWeek.isDelete" class="btn btn-xs btn-success" (click) = "restoredaysOfWeek(daysOfWeek.id)">
		                			<i class="fa fa-file"></i> Restore
		              			</button>
	              			</div>
              			</td>
              			<td *ngIf="curUserRole !== 'ROLE_SUPER_ADMIN'" style="width: 0px">
              				
              			</td> 
                     </tr>
                </tbody>
         </table>
                
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  
  <div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Days of Week</h3>
			</div>
			<div class="modal-body">
				<h4>
					<p>Are you sure you want to delete the record?</p>					
				</h4>
				<div style="color:red;">
				<i class="fa fa-warning"></i> May affect other modules.</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right"
					data-dismiss="modal">No</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="deleteDaysOfWeeek()">Yes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->