
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Company User</h1>
		<!-- <ol class="breadcrumb">
			<li><a href="#" [routerLink]="['/manageEvent']"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Examples</a></li>
			<li class="active">Blank page</li>
		</ol> -->
	</section>

	<!-- Main content -->
	<section class="content">
		<form [formGroup]="editBrandUserForm"
			(ngSubmit)="submitForm(editBrandUserForm.value)">
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Company User</h3>
				</div>
				<div class="box-body">
					<div *ngIf="error && error.length > 0" class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="error=undefined">×</button>
						{{error}}
					</div>
					<div *ngIf="brandUserEdited"  class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="brandUserEdited=false">×</button>
						Company User edited successfully!
					</div>
					<div>
						<label>Company</label><br/>
						<div style="display:inline-block;width: 200px;" *ngIf="brandNameList.length > 0">
							<ng-select [(items)]="brandNameList"
								[active]="[brand]"
								[disabled]="disabled"
								(selected)="brandOnSelect($event.id)" 
								placeholder="Select Company" >
							</ng-select>						
						</div> 	
						 <!-- <input type="text" class="form-control" formControlName="brand" required readonly> --> 												
					</div>  
					<div class="form-group" [ngClass]="{ 'has-error' : editBrandUserForm.controls.name.invalid && requiredFlag}">
						<label>Name<span style="color:red;">*</span></label> 
						<input type="text" class="form-control" placeholder="Enter Name" formControlName="name" required>
						<label [ngClass]="{ 'has-error' : editBrandUserForm.controls.name.invalid &&
															  requiredFlag}" *ngIf="editBrandUserForm.controls.name.invalid && requiredFlag ">This field is required.</label>
					</div>
					<div class="form-group"
						[ngClass]="{ 'has-error' : (editBrandUserForm.controls.email.invalid && requiredFlag) || editBrandUserForm.controls['email'].hasError('pattern')}">
						<label>Email<span style="color:red;">*</span></label>
						<input type="email" class="form-control"
							placeholder="Enter Email" formControlName="email" pattern="^[_\.0-9A-Za-z-]+@([0-9A-Za-z][0-9A-Za-z.-]+\.)+[A-Za-z]{2,4}$" required>
						<label [ngClass]="{ 'has-error' : (editBrandUserForm.controls.email.invalid && requiredFlag) || editBrandUserForm.controls['email'].hasError('pattern')}"
							    *ngIf="(editBrandUserForm.controls.email.invalid && requiredFlag) || editBrandUserForm.controls['email'].hasError('pattern')"> Please enter valid email. </label>
		
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : (editBrandUserForm.controls.phone.invalid && requiredFlag) || flag || editBrandUserForm.controls['phone'].hasError('pattern')}">
						<label>Contact Number<span style="color:red;">*</span></label> 
						<input type="text" class="form-control" placeholder="Enter Contact Number" formControlName="phone"  (keyup)="countLength()" pattern="^[0-9]+" required>
						<label [ngClass]="{ 'has-error' : editBrandUserForm.controls.phone.invalid &&  requiredFlag && flag}" *ngIf="editBrandUserForm.controls.phone.invalid && requiredFlag && flag ">This field is required.</label>
						<label [ngClass]="{ 'has-error' : editBrandUserForm.controls['phone'].hasError('pattern') }" *ngIf="editBrandUserForm.controls['phone'].hasError('pattern') ">Use only numeric value.</label>
					</div>
					<div class="form-group passwordblock"
						[ngClass]="{ 'has-error' : editBrandUserForm.controls.password.invalid && requiredFlag }">
						<label>Password<span style="color:red;">*</span></label>
						<input [type]="showPas ? 'text' : 'password'" class="form-control" placeholder="Enter Password"
								formControlName="password" required>
						<i *ngIf = "showPas" class = "fa fa-eye" (click)="password()"></i>
						<i *ngIf = "!showPas" class = "fa fa-eye-slash" (click)="password()"></i>
						<label [ngClass]="{ 'has-error' : editBrandUserForm.controls.password.invalid && requiredFlag }"
								*ngIf="editBrandUserForm.controls.password.invalid && requiredFlag"> This field is required. </label>
					</div>
					<div class="form-group passwordblock" [ngClass]="{'has-error' : (editBrandUserForm.controls.confirmPassword.invalid && requiredFlag) || !isPassWordMatched}">
						<label class="text-normal text-dark">Confirm Password<span style="color:red;"> *</span></label>
						<input [type]="showConfirmPas ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
								[ngClass]="{'has-error' : (editBrandUserForm.controls.confirmPassword.invalid &&
							    editBrandUserForm.controls.confirmPassword.touched) || !isPassWordMatched}" (blur) = "matchPassword()" required >
						<i *ngIf = "showConfirmPas" class = "fa fa-eye" (click)="confirmPassword()"></i>
						<i *ngIf = "!showConfirmPas" class = "fa fa-eye-slash" (click)="confirmPassword()"></i>
						<label [ngClass]="{ 'has-error' : (editBrandUserForm.controls.confirmPassword.invalid && requiredFlag) ||  !isPassWordMatched}"
								*ngIf="(editBrandUserForm.controls.confirmPassword.invalid && requiredFlag) || !isPassWordMatched">Confirm password must be same as Password.</label>
						<!-- <label [ngClass]="{'has-error' : !isPassWordMatched}" *ngIf="!isPassWordMatched">Confirm password must be same as Password</label> -->
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editBrandUserForm.controls.role.invalid && requiredFlag}">
						<label>Role<span style="color:red;">*</span></label>
						<select class="form-control" formControlName="role" readonly="readonly" (click) ="checkRole()" required>
                    		<option value ="" selected>Select value</option>
                    		<option [value] = "role	" *ngFor = " let role of keys(false)">{{role}}</option>
                  		</select>
                  		<label [ngClass]="{ 'has-error' : editBrandUserForm.controls.role.invalid && requiredFlag}" *ngIf="editBrandUserForm.controls.role.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group tagblock"  *ngIf="isStoreManagerRole" [ngClass]="{ 'has-error' : editBrandUserForm.controls.store.invalid && requiredFlag}">
						<label>Branches<span style="color:red;">*</span></label>
						<tag-input required class="form-control" formControlName="store" theme='bootstrap3-info'  [identifyBy]="'id'" [displayBy]="'name'" 
								[blinkIfDupe]="true"
								[clearOnBlur]="true"
								[onlyFromAutocomplete]="true"
								[maxItems] = "1"
								(onAdd)="onSelect($event)"
								[placeholder]="'Select Branch'" 
								[secondaryPlaceholder] = "'Select Branch'">
							<tag-input-dropdown [showDropdownIfEmpty]="true"
										[focusFirstElement]="false"
                        				[displayBy]="'name'"
                        				[appendToBody] = "false"
										[keepOpen]="false"
										[identifyBy]="'id'"
                        				 [autocompleteItems]="storeList" theme='dark'>
                        				 <ng-template let-item="item" let-index="index">
                                             {{ item.name }}
                                         </ng-template>
    						</tag-input-dropdown>
    					 </tag-input>
    					<label [ngClass]="{ 'has-error' : editBrandUserForm.controls.store.invalid && requiredFlag}" *ngIf="editBrandUserForm.controls.store.invalid && requiredFlag">This field is required.</label><br>
    			    </div>
					<div class="form-group">
						<div class="label-status">
							<label>Activate/Deactivate</label>
							<ui-switch size="small" formControlName="isActive" (change)="changeStatus($event)"></ui-switch>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
				</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
			<tr>
				<td>
					<div class="form-group">
						<div class="btn-group inlinebtn">
							<button type="submit" class="btn btn-success" [disabled]="buttonText == CONSTANTS.SUBMITTING">{{buttonText}}</button>
							<button type="button" class="btn btn-info" (click) = "back()">Back</button>
						</div>
					</div>
				</td>
			</tr>
		</form>
	</section>
	<!-- /.content -->
</div>