  <div class="content-wrapper">
    <section class="content-header">
    </section>
    <section class="content">

     <div class="error-page">
     	<div class="media">
		  <div class="media-left media-middle">
		    <i class="fa fa-lock  text-red"></i>
		  </div>
		  <div class="media-body">
		    <h1 class="media-heading"> Not Authorized </h1>
		    <p> You are not authorized to access this page. </p>
		   <!--  <a [routerLink]="['/dashboard']">Go To Dashboard</a> -->
		   	<button  class="btn btn-xs btn-info dashBoardbtn" [routerLink]="['/dashboard']">
		        Go To Dashboard
		    </button>
		  </div>
		</div>
      </div>
     
    </section>
  </div> 
