
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Location Division</h1>
		<!-- <ol class="breadcrumb">
			<li><a href="#" [routerLink]="['/manageCountry']"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#">Examples</a></li>
			<li class="active">Blank page</li>
		</ol> -->
	</section>

	<!-- Main content -->
	<section class="content">
		<form [formGroup]="editLocationDivisionForm"
			(ngSubmit)="submitEditedLocationDivisionForm(editLocationDivisionForm.value)">
			<!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Edit Location Division</h3>
				</div>
				<div class="box-body">
					<div *ngIf="error && error.length > 0" class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="error=undefined">×</button>
						{{error}}
					</div>
					<div *ngIf="locationDivisionEdited"  class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="locationDivisionEdited=false">×</button>
						Location Division edited successfully!
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.name.invalid && requiredFlag }">
						<label>Name<span style="color:red;">*</span></label><input type="text" class="form-control" 
							placeholder="Enter Name" formControlName="name" required>
						<label [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.name.invalid && requiredFlag}" *ngIf="editLocationDivisionForm.controls.name.invalid && requiredFlag">This field is required.</label>
					</div>
						<div class="form-group" [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.country.invalid && requiredFlag }">
						<label>Country<span style="color:red;"> *</span></label>
                  		<select class="form-control" formControlName="country" readonly="readonly" (change)="getProvince()" required>
                  			<option *ngFor = "let country of countryList" [ngValue] = "country">{{country.name}}</option> 
                  		</select>
                  		<label [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.country.invalid && requiredFlag }" *ngIf="editLocationDivisionForm.controls.country.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.province.invalid && requiredFlag }">
						<label>Province<span style="color:red;"> *</span></label>
						
						<select class="form-control" formControlName="province" readonly="readonly" required>
							<option value="">Select Province</option>
                    		<option *ngFor = "let province of provinceList" [ngValue] = "province">{{province.name}}</option> 
                  		</select>
                  		<label [ngClass]="{ 'has-error' : editLocationDivisionForm.controls.province.invalid && requiredFlag }" *ngIf="editLocationDivisionForm.controls.province.invalid && requiredFlag">This field is required.</label>
					</div>
					<div class="form-group">
						<label>DSM User<span style="color:red;">*</span></label><br/>
						<div style="display:inline-block;width: 200px;"  *ngIf="DSMUserList.length > 0">
							<ng-select [items]="DSMUserList" 
								[active]="[DSMUser]" 								
								[disabled]="disabled" 	
								(selected)="DSMUserOnSelect($event)" 						
								 placeholder="Select DSM User" >
							</ng-select>							
						</div>      						
					</div>  
					<!--  <div class="form-group">
						<label>RAM User<span style="color:red;">*</span></label><br/>
						<div style="display:inline-block;width: 200px;" *ngIf="RAMUserList.length > 0">
							<ng-select [items]="RAMUserList"
								[active]="[RAMUser]"
								[disabled]="disabled" 
								(selected)="RAMUserOnSelect($event)" 	
								 placeholder="Select RAM User" >
							</ng-select>								
						</div>
						<div *ngIf="RAMUserList.length == 0">
							No RAM user available. Please add new RAM user.
						</div>
					</div>   -->
					<div class="label-status">
						<label>Activate/Deactivate</label>
						<ui-switch size="small" formControlName="isActive" (change)="changeStatus($event)"></ui-switch>
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer"></div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box -->
			<tr>
				<td>
					<div class="form-group">
						<div class="btn-group inlinebtn">
							<button type="submit" class="btn btn-success" [disabled]="RAMUser.id === null || DSMUser.id === null || buttonText == CONSTANTS.SUBMITTING">{{buttonText}}</button>
							<button type="button" class="btn btn-info" (click) = "back()">Back</button>
						</div>
					</div>
				</td>
			</tr>
		</form>
	</section>
	<!-- /.content -->
</div>