 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">

     <div class="error-page">
     	<div class="media">
		  <div class="media-left media-middle">
		    <i class="fa fa-lock  text-red"></i>
		  </div>
		  <div class="media-body">
		    <h1 class="media-heading"> ACCESS DENIED </h1>
		    <p> You are not authorized to access this page. </p>
		  </div>
		</div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
  </div>
